---
import "./BaseHead.css";

export interface Props {
  title?: string;
  description?: string;
  image?: string;
}

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image = "/social.webp",
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap"
/>

<!-- STYLES -->
<link rel="stylesheet" href="css/open-iconic-bootstrap.min.css" />
<link rel="stylesheet" href="css/animate.css" />

<link rel="stylesheet" href="css/owl.carousel.min.css" />
<link rel="stylesheet" href="css/owl.theme.default.min.css" />
<link rel="stylesheet" href="css/magnific-popup.css" />

<link rel="stylesheet" href="css/aos.css" />

<link rel="stylesheet" href="css/ionicons.min.css" />

<link rel="stylesheet" href="css/bootstrap-datepicker.css" />
<link rel="stylesheet" href="css/jquery.timepicker.css" />

<link rel="stylesheet" href="css/flaticon.css" />
<link rel="stylesheet" href="css/icomoon.css" />
<link rel="stylesheet" href="css/style.css" />

<!-- SCRIPTS -->
<script is:inline src="js/jquery.min.js"></script>
<script is:inline src="js/jquery-migrate-3.0.1.min.js"></script>
<script is:inline src="js/popper.min.js"></script>
<script is:inline src="js/bootstrap.min.js"></script>
<script is:inline src="js/jquery.easing.1.3.js"></script>
<script is:inline src="js/jquery.waypoints.min.js"></script>
<script is:inline src="js/jquery.stellar.min.js"></script>
<script is:inline src="js/owl.carousel.min.js"></script>
<script is:inline src="js/jquery.magnific-popup.min.js"></script>
<script is:inline src="js/aos.js"></script>
<script is:inline src="js/jquery.animateNumber.min.js"></script>
<script is:inline src="js/bootstrap-datepicker.js"></script>
<script is:inline src="js/jquery.timepicker.min.js"></script>
<script is:inline src="js/scrollax.min.js"></script>
<script
  is:inline
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"
></script>
<script is:inline src="js/google-map.js"></script>
<script is:inline async defer src="js/main.js"></script>
<!-- END SCRIPTS -->
